.post-type-archive-adventure{
  .site-main{
    justify-content: space-between
  }
  .page-title{
    margin-top: 8rem;
    margin-bottom:3rem;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px dashed $lightgrey;
    font-family:$headfont;
  }
  .entry-title{
    font-size:3.1rem;
    color:$main;
    font-weight:400;
    background-color:transparent;
    font-size:2.5rem;
    max-width:100%;
    font-family:$mainfont;
  }
  .entry-title a:hover{
    color:$yellow;
  }
  .adventure-grid{
    position: relative;
    flex: 0 1 49%;
    max-width:49%;
  }
  .entry-header{
    img{
      height:500px;
      width:500px
      linear-gradient(to bottom, rgba($color_black, 0.5), rgba($color_black, 0.5))
    }
  }
  .read-more-wrapper{
    position: absolute;
    top: 36%;
    padding-left: 1rem;
  }
  .advbtn{
    background: transparent;
    color: #fff;
    border: 1px solid white;
  }
  .advbtn:hover{
      background-color:$green;
      border:$green;
  }
  
}