/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.site-content{
	display:flex;
	width:1120px;
	@include center();
}

.content-area{
	width:75%;
	padding-right:5%;
}

.sticky {
	display: block;
}

.entry-header {
	position:relative;
	img{
		width:100%;
	}
}
.single-post{
	h1.entry-title{
		position: absolute;
		top:0;
		background-color: $green;
		margin-top:2rem;
		font-size:2.0rem;
		max-width:75%;
		color:$main;
	}

	.comments-link{
		a{
			text-decoration: none;
			color:$main;
			padding-left:1rem;
		}
	}

	.entry-footer {
	.cat-links{
		padding-right:1rem;
			}
	}
	.entry-footer a{
		text-decoration: none;
		color:$green;
	}
}

h2.entry-title{

	position: absolute;
	top:0;
	background-color: $green;
	margin-top:2rem;
	font-size:2.0rem;
	max-width:75%;
	
		a{
			color:#fff;
			text-decoration:none;
		}
}

.entry-meta{
	position: absolute;
	right: 0;
	bottom: 5%;
	background-color:$green;
	color:$main;
	
}


.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.post-14{
	padding-top:5%;
}





// FOOTER// 

.site-footer{
	background:url("../../images/dark-wood.png");
}

.footer-info-des{
  display:flex;
	justify-content: space-around;
	height:300px;
	width:100%;
	background-size:cover;
	padding-top:2.5rem;
}

.footer-text{
	color:$orange;
}

.footer-text p{
	color:$main;
}

.footer-text a{
	color:$main;
	text-decoration: none;
}

.text-logo a{
	img{
	width:250px;
	}
}

.social-media-icons{
	font-size:1.5rem;
}

.copyright{
text-align: center;
padding-bottom:1.5rem;
color:$main;
}


//



//ABOUT
.page-id-5{
	div#content.site-content{
		margin-left:0;
		margin-right:0;
	
		div#primary.content-area{
			width:100%;
			padding-right:0;
		
		}
		div#secondary.widget-area{
			display:none;
		}

	}	
}


#post-5{
	width:100vw;
	.entry-content{
		width: 850px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom:1rem;
	}
	.entry-header{
		display:flex;
		background:linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
		url("../../images/about-hero.jpg");
		background-size:cover,cover;
		height:100vh;
		text-align: center;
		width:100vw;

		.entry-title{
			font-size:3rem;
			align-self: center;
			@include center();
			color:$main;
		}
	}
}


//front-page

.page-id-60{
	.site-content{
		margin-left:0;
		margin-right:0;
		width:100%;
		.content-area{
			background:url("../../images/home-hero.jpg");
			width:100vw;
			height:100vh;
			background-size:cover,cover;
		}
		.widget-area{
			display:none;
		}
	}
}