.site-footer{
	background:url("../../images/dark-wood.png");
}


// <img src="<?php echo get_template_directory_uri(); ?>/images/dark-wood.png" alt="Inhabitent Logo"/>



.footer-info-des{
  display:flex;
	justify-content: space-around;
	height:300px;
	width:100%;
	background-size:cover;
	padding-top:2.5rem;
}

.footer-text{
	color:$orange;
}

.footer-text p{
	color:$main;
}

.footer-text a{
	color:$main;
	text-decoration: none;
}

.text-logo a{
	img{
	width:250px;
	}
}

.social-media-icons{
	font-size:1.5rem;
}

.copyright{
text-align: center;
padding-bottom:1.5rem;
color:$main;
}

