/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */




.page-id-60{
	.hfeed{
		.site-content{
			.content-area{
				.site-main{
          .hero-banner{
            background:url("../../images/home-hero.jpg");
            width:100vw;
            height:100vw;
            background-size:cover,cover;
            
          }
					.journal-entries{
						.entry-title{
							position: relative;
              max-width: 50%;
            }
			  	}	
				}
			}
		}
	}
}	






// front