/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// utlility
.max-contain {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}



/* Front page */

.home,.page-template-about{
  .content-area{
    padding-left:0;
  }
}  


.home{
  .advbtn{
    background: transparent;
    color: #fff;
    border: 1px solid white;
  }
  .advreadmore{
    padding-top:1rem;
    padding-bottom:3rem;
    .moreadventures{
      background:$green;
      padding-bottom:1rem;
      border:none;
      color:$main;
    }
  }  
  h2{
    text-transform: uppercase;
  }
	.content-area{
    width: 100%;
    padding-right:0;
  }
  .site-main{
    .hero-banner{
      background:url("../../images/home-hero.jpg");
      width:100%;
      height:100vh;
      background-size:cover,cover;
      display: flex;
      justify-content: center;
    }
    h2{
      text-align:center;
      font-size:2rem;
      padding-top:1rem;
      padding-bottom:1rem;
    }
					
          
  .journal-entries{
    display:flex;
    justify-content:space-between;
    
    .journal-entry{
      border:1px solid $lightgrey;
      
      
      img{
        height:250px;
        width:360px;
        border-bottom:5px solid $lightgrey;
      }
    }  
  }  
  .journal-info{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width:300px;
  padding:.75rem;

    .entry-title{
      font-size: 20px;
      padding-top: 0;
      padding-bottom: 0;
      text-align:left;
      a{
        color:$green;
        text-decoration: none;
      }
    }
    .journal-date{
      font-size:0.75rem;
    }
  }    
  .product-type-blocks{
    display:flex;
    justify-content: space-between;
    text-align:center;
  }
  .product-type-block-wrapper{
    flex-basis:23.5%;
    max-width:23.5%;
    border:1px solid $lightgrey;
    border-top-width: 5px;
    padding:1rem;
 
    img{
      height:65px; 
    }
    a.btn{
      background:$green;
      color:$main;
      text-decoration:none;
      text-transform: uppercase;
      padding: .75rem 1.5rem;
    }
  }
  .product-type-block-wrapper:hover
  {
    border:1px solid $orange; 
    border-top-width:5px;
  }
}}


.read-more{
  color:black;
  text-transform: uppercase;
  border:1px solid black;
  text-decoration:none;
  padding: .75rem 1.5rem;
}
a:visited{
  color:black;
}

.adventures-wrapper{
  display:flex;
  .adventure-left-block{
    position:relative;
    flex-basis:50%;
    
    img{
      height: 540px;
      width: auto;
      border-right: 20px solid white;
    }
    
    .adventure-info{
      position:absolute;
      top:0;
      padding-left:1rem;
      h3{
        font-size:2.4rem;
        color:$main;
      }

    }
  }
  .adventure-right-block{
    flex-basis:50%;
    display:flex;
    flex-wrap:wrap;
  .beach-adventure{
    position:relative;
    img{
      height: 270px;
      width: 640px;
      border-bottom: 8px solid white;
    }
    .adventure-info{
      position: absolute;
      top: 0;
      padding-left: 1rem;
      h3{
        font-size:2.4rem;
        color:$main;
      }
    }
  }
  .hiker-adventure{
    position:relative;
    flex-basis:50%;
    border-right: 10px solid white;
   
    img{
      width: 320px;
      height: 262px;
      
    }
    .adventure-info{
      position: absolute;
      top: 0;
      padding-left: 1rem;
      h3{
        font-size:2rem;
        color:$main;
      }
    }
  }  


  .star-adventure{
    position:relative;
    flex-basis:50%;

    img{
      width: 320px;
      height: 262px;
      border-left: 10px solid white;
    }
    .adventure-info{
      position: absolute;
      top: 0;
      padding-left: 2rem;
      h3{
        font-size:2rem;
        color:$main;
      }
    }
  }


  }
}


/*Product Page */
.post-type-archive{ 
  .content-area{
    width:100%;
    @include center();
  }
  .site-main{
    display:flex;
    flex-wrap:wrap;
  }
  .social-buttons{
    padding-bottom:3rem;
      button[type="submit"]{
      background-color:$main;
      border-color:black;
      border-radius:0;
      height: 40px;
      width: 140px;
      
      :hover{
        background-color:$green;
      }
    }
    :before{
      padding-right:1rem;
    }
  }
}   




// single product page//
.product-template-default{

  .entry-title{
    color:$orange;
    text-transform: uppercase;
  }

  .content-area{
    width:100%;
    padding-bottom:6rem;
  }
  .type-product{
    display:flex;
    padding-top:8rem;
    div img{
      flex-basis:50%;
    }
  }
  .single-product-wrapper{
    padding-left:3rem;
    flex-basis:50%;
  }

  .entry-header img {
  max-width: 500px;
  height: 400px;
  }
  .entry-meta{
    display:none;
  }
  .widget-area{
    display:none;
  }

  .single-product-buttons{
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000;
    text-decoration: none;
    padding: .75rem 1.5rem;
    background:$main;
    border-radius:0;
    font-size:1rem;
    .fa{
      padding-right:1rem;
    }
  }
  
}



//product category
.tax-product-type{
  .widget-area{
    display:none;
  }
}


//search//
.search-results{
  .type-product{
    padding-top:3rem;
  }

  .content-area{
    padding-left:5%;
  }

  h2 a{
  color:$green;
  text-decoration: none;    
  text-transform: uppercase;
  font-size:2rem;
  }

  .search-pagination{
    padding-top:3rem;
    padding-bottom:3rem;
  }
  .page-numbers{
    background-color: #248a83;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: .5rem .75rem;
    margin-right: .25rem;
    text-decoration: none;
  }

  .category-recipes{
    display:flex;
    flex-wrap:wrap;
  }
  .entry-meta{
    position: absolute;
    left: -7px;
    bottom: -33%;
    background-color:transparent;
    color: black;
    padding: .5rem;
  }

  .post-5{
    .entry-header{
      display:block;
      height:auto;
      text-align:left;
    }
    .entry-summary{
      display:none;
    }
  }

  .category-how-tos{
    .entry-meta{
      bottom:-85%;
    }
    .entry-summary{
      padding-top:1rem;
    }
  }
  .page-header{
    padding-top:3rem;
    text-transform: uppercase;
    font-size:1.5rem;
    border-bottom:1px solid $lightgrey;
  }
}

.archive{
  .p-bottom{
    padding-bottom:2rem;
  }
  .page-header{
    padding-top:6rem;
    
  }
  .page-title{
    border-bottom: 1px solid $lightgrey;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
}