/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// utlility
.max-contain {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}



/* Front page */

.home,.page-template-about{
  .content-area{
    padding-left:0;
  }
}  


.home{
	.hfeed{
		.site-content{
      
			.content-area{
        width: 100%;
        padding-right:0;
				.site-main{
          .hero-banner{
            background:url("../../images/home-hero.jpg");
            width:100%;
            height:100vh;
            background-size:cover,cover;
            display: flex;
            justify-content: center;
          }
          h2{
            text-align:center;
            font-size:2rem;
            padding-top:1rem;
            padding-bottom:1rem;
          }
					.journal-wrapper{
          
           .journal-entries{
             display:flex;
             justify-content: space-around;
             .journal-entry{
               flex-basis:1;
               
               img{
                 height:250px;
               }
               .journal-info{
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;
                width:300px;
                .entry-title{
                      font-size: 20px;
                      padding-top: 0;
                      padding-bottom: 0;
                }
               }
             }

           }
					
			  	}	
				}
			}
		}
	}
}	

/*Product Page */

.social-buttons{
  padding-bottom:3rem;
    button[type="submit"]{
    background-color:$main;
    border-color:black;
    border-radius:0;
    height: 40px;
    width: 140px;
    
    :hover{
      background-color:$green;
    }
  }
  :before{
    padding-right:1rem;
  }
}