.single-adventure{
	.entry-header{
		height:auto;
    width:100vw;
    text-align: center;
  }
  .content-area{
    padding-left:0;
    padding-right:0;
    width:100%;
  }
  .entry-content{
    @include center();
    width: 850px;
    padding-bottom:1rem;
    line-height:1.5; 
    max-width:800px;
  }
  .entry-meta{
    position: relative;
    color:$color_black;
    background-color:transparent;
    @include center();
    max-width:800px;
    text-align: left;
    font-size:1.5rem;
  }
  .entry-title{
    font-size:3rem;
    margin-bottom:0;
  }
  .social-buttons{
    margin-bottom:2rem;
  }
}