/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-area{
	padding-top:5rem;
	width: 25%;
	padding-left: 5%;
	border-left: #eee solid 1px;

}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget_archive{
	ul{
		list-style-type: none;
		padding:0;
		margin:0;
		li a{
			text-decoration: none;
			color:$green;
		}
	}
}

.contact-meta a{
	text-decoration: none;
	color:$green;
}